* {
    font-family: Roboto, sans-serif; 
}
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
.container {
    max-width: 1440px;
    margin: 0 auto;
  }
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
html {
    scroll-behavior: smooth; 
  }
  .nav-list {
    list-style: none;
  }
.nav-link {
    padding: 0 10px;
    line-height: 50px;
    text-decoration: none;
    font-weight: bold;
  }