  html {
  scroll-behavior: smooth; 
  }

  body {
    font-family: 'League Gothic', sans-serif;
    font-size: 25px;
    font-weight: normal;
    line-height: 1.5;
    min-height: 100vh;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    letter-spacing: 1px;
    color: #fff700b4;
    background-image: linear-gradient(180deg,#af5eaf,#980098);
    -webkit-text-stroke: 0.5px #000000;
  }

  header {
    display: flex;
    left: 0;
    width: 100%;
    border: 3px;
    border-bottom-left-radius: 10px;
    position: fixed;
    border-color: #000000;
    background-color:#ff9807cd;
  }

  .container {
    max-width: 1440px;
    margin: 0  auto;
    padding: 0 50px;
  }

  .nav-list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0;
  } 

  .nav-link {
    text-decoration: none;
    font-weight: bold;
    font-size: 25px;
    padding: 0px 10px;
    line-height: 50px;
    transition: 0.5s;
    color:blueviolet
  }

  .nav-link:hover {
    font-size: 30px;
    transition: 0.5s;
    -webkit-text-stroke: 0.5px #000000;
    color:#ffffff;
  }

  main {
    margin-top: 100px;
  }

  .main-container {
    display: flex;
    flex-wrap: wrap;
  }

  .section-title {
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    color: #ffffff; 
  }

  .section-title:after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ff9807cd;
  }
  
  .user-avatar {
    width: 350px;
  }

  .my-photo {
    border-style: groove;
    border-radius: 20px;
    width: 100%;
    box-shadow: 5px 5px 8px #000000;
    box-sizing: border-box;
    border-color: #ffcc00;
    
  }

  .section {
    width: 100%;
  }

  .section-item a {
    text-decoration: none;  
    transition: color 0.5s;
    color: #ffffff;
  }

  .section-item a:hover {
    color: #ffcc00;
  }
  
@media (max-width: 768px) {
  .section {
      width: 100%;
    }
  }
    
  .section-under-title {
    font-size: 23px;
    font-weight: 700;
    text-transform: uppercase;
    justify-content: flex-start;
    color: #ffffff;
  }

  .link {
    list-style: none;
    text-decoration: none;
    font-size: 25px;
    box-sizing: border-box;
    width: 1200px;
    min-height: 800px;
    margin: 0 auto;
    transition: 0.5s;
    transition: color 0.5s;
    color: #faaf7d;
  }
  
  .link:hover {
    font-size: 30px;
    transition: 0.5s;
    font-style: 900;
    color: #ff9807;
  }

  footer {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: linear-gradient(15deg, #ff9807,#9f0c9f);
    color: #ffffff;
  }

  footer a,img {
    margin: 5px;
    height: auto;
  }
